* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}
.container{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
      
}
.video{
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
}
.animate__animated.animate__bounce {
    --animate-duration: 8s;
  }
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}  
h1 {
    font-family: 'Playfair Display',
        serif;
    font-size: 59px;
    color: white;
    font-weight: 600;
    padding-bottom: 20px;
    
}

p {
    color: #d2d2d2;
}


p,
input,
textarea,
label {
    font-family: 'Poppins',
        sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 5%;
}

form {
    background: rgba(255,255,255,0.3);
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}


textarea,
label {
    display: block;
    margin: 0 auto;
    width: 100%;
    color: #000000;
}


textarea {
    background-color:rgba(255,255,255,0.3);;
    border: 0;
    border-bottom: 2px solid #f8f4f4;
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align:left;
    position: relative;
    transition: all 0.2s ease-in-out;
}
input{
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#message{
    color:#f8f4f4
}
a {
    color: #828282;
    font-style: italic;
}

a:hover {
    color: #fff;
}